[MASTER]
# Python files to analyze
ignore=CVS,.git,.pio,build,site,test/stubs
ignore-patterns=test/stubs/*
persistent=yes
load-plugins=

[MESSAGES CONTROL]
# Disable specific warnings
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    C0301,  # line-too-long
    C0303,  # trailing-whitespace
    C0330,  # bad-continuation
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments
    R0914,  # too-many-locals
    R0915,  # too-many-statements
    W0621,  # redefined-outer-name
    W0612,  # unused-variable
    W0611,  # unused-import

[REPORTS]
# Set the output format
output-format=text

# Include a brief explanation of each error
msg-template={path}:{line}: [{msg_id}({symbol}), {obj}] {msg}

# Don't show the score
score=no

[FORMAT]
# Maximum number of characters on a single line
max-line-length=120

# Maximum number of lines in a module
max-module-lines=2000

# String used as indentation unit
indent-string='    '

[BASIC]
# Regular expression which should only match function or class names
good-names=i,j,k,ex,Run,_,id,db

[MISCELLANEOUS]
# List of note tags to take into consideration
notes= 